@import 1kbgrid.sass
+grid(9, 40px, 10px)

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: url('/images/bg.jpg') repeat
  padding: 0
  margin: 0

#header
  h1
    margin: 0
    padding: 0
    z-index: 5
    

#content
  background: #FDFDF8
  box-shadow: 0 0 50px #444
  -moz-box-shadow: 0 0 50px #444
  -webkit-box-shadow: 0 0 50px #444

  background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#CCC), to(#FFF))
  background: -moz-linear-gradient(0% 40% 90deg, #FFF, #CCC)

  /* color: #DBDBDB
  margin-top: 1em
  z-index: 4
  padding: 3em
  border: 1px solid #ddd
  border-radius: 10px
  /* border: 1px solid rgba(0,0,0,0.5)
  /* border-radius: 10px 10px 2px 2px
  /* background: rgba(0,0,0,0.50)
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)
  /* -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)
  /* -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)
  /* -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)

    
  h2
    font-family: 'Lobster', 'Helvetica Neue', Helvetica, Arial, sans-serif
    margin: .25em 0
    font-weight: normal

.previous_games
  width: 100%
  td.date
    text-align: right

.game_list
  margin-bottom: 1em

.game, .game_min
  font-size: 1.5em
  
  p
    margin: 0
  .label
    text-align: left
  .stats
    /* text-align: left */

table
  th
    text-align: left
  tr.alt
    background = #FDFDF8 - #222

.formtastic
  font-size: 1em
