@import 1kbgrid.sass
+1kbgrid(10, 60px, 10px)

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: url('/images/bg.jpg') repeat
  padding: 0
  margin: 0

#header
  h1
    margin: 0
    padding: 0
    z-index: 5
    

#content
  margin-top: 1em
  z-index: 4
  background-color: rgba(0, 255, 0, 0.5)
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00')
  padding: 1em
    
  h2
    margin: .25em 0

.game_list
  margin-bottom: 1em

.game
  font-size: 1.5em
