/* adaptation of The 1KB CSS Grid to sass (http://www.1kbgrid.com/). I love Sass. */

.grid_1 {
  width: 60px; }

.grid_2 {
  width: 130px; }

.grid_3 {
  width: 200px; }

.grid_4 {
  width: 270px; }

.grid_5 {
  width: 340px; }

.grid_6 {
  width: 410px; }

.grid_7 {
  width: 480px; }

.grid_8 {
  width: 550px; }

.grid_9 {
  width: 620px; }

.grid_10 {
  width: 690px; }

.column {
  margin: 0 5px;
  overflow: hidden;
  float: left;
  display: inline; }

.row {
  width: 700px;
  margin: 0 auto;
  overflow: hidden; }
  .row .row {
    margin: -5px;
    width: auto;
    display: inline-block; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('/images/bg.jpg') repeat;
  padding: 0;
  margin: 0; }

#header h1 {
  margin: 0;
  padding: 0;
  z-index: 5; }

#content {
  color: #DBDBDB;
  margin-top: 1em;
  z-index: 4;
  /* background-color: rgba(0, 255, 0, 0.5) */
  /* filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00') */
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  background: rgba(0,0,0,0.50);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3); }
  #content h2 {
    margin: .25em 0; }

.game_list {
  margin-bottom: 1em; }

.game {
  font-size: 1.5em; }
