%table.previous_games
  %tr
    -# %th Date
    -# %th WinRAR!
  - games.each_with_index do |game,i|
    %tr{:class => cycle('', 'alt')}
      %td.name= game.winner.andand.name || '(no winner)'
      %td.date= game.date


