.row
  .column.grid_5
    - if @upcoming_game
      #upcoming_game.game_list
      = render :partial => 'current_game', :locals => {:game => @upcoming_game}

  .column.grid_5
    - if @previous_game
      #last_game.game_list
      = render :partial => 'previous_game', :locals => {:game => @previous_game}

.row
  .column.grid_10
    - if @previous_game_list.count
      #previous_games.game_list
      %h2 PREVIOUS GAMES
      = render :partial => 'previous_games', :locals => {:games => @previous_game_list}

