%h1 Poker Night


- if @upcoming_game
  %h2 Upcoming
  = render :partial => 'game', :locals => {:game => @upcoming_game}

- if @previous_game
  %h2 Last Game
  = render :partial => 'game', :locals => {:game => @previous_game}


%h2 Previous Games
  
