- if @upcoming_game
  #upcoming_game.game_list
    = render :partial => 'current_game', :locals => {:game => @upcoming_game}
    
- if @previous_game
  #last_game.game_list
    = render :partial => 'previous_game', :locals => {:game => @previous_game}


- if @previous_game_list.count
  #previous_games.game_list
    = render :partial => 'previous_game_min', :collection => @previous_game_list
