.row
  .column.grid_9

    %h2 Next Game

    - if @upcoming_game
      %p= "#{@upcoming_game.date} at #{@upcoming_game.time}"
    - else
      %p No game scheduled yet


    - if @previous_games.count
      #previous_games.game_list
        %h2 Winners
        = render :partial => 'previous_games', :locals => {:games => @previous_games}

